<div class="row">
  <%= render 'user/user_aside' %>
  <div class="col-md-8">
    <h1>About us</h1>
    <p>This page was created as the final project in the Ruby on Rails course in Microverse.</p>
  </div>
</div>
