<div class="row">
  <%= render 'user/user_aside' %>
  <div class="col-md-8">
    <h1 class="text-center pb-50">Contact</h1>
    <p class="static-pages-text">This page was created by Alexawesome and Phalado</p>
  </div>
</div>
