@import 'bootstrap';
@import 'bootstrap-sprockets';

$face-color: #4267b2;

header {
  background-color: $face-color;

  .container {
    align-items: center;
    display: flex;
    width: 100%;
  }

  a {
    color: white;
  }
}

.form-control {
  margin-bottom: 20px;
}

.top-navbar {
  position: fixed;
  z-index: 1043;
  top: 0;
  left: 0;
  right: 0;
}

.main-page {
  margin-top: 50px;

  form {
    width:460px;
    padding-top: 20px;
  }

  .index-posts {
    padding-top: 40px;
    margin-left: 25%
  }
}

.logo {
  color: white;
}

.elements-to-right {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}

#post_content {
  height:130px;
}

.posts {
  padding-top: 40px;
}

.post-content {
  border: ridge;
  padding: 12px;
}

.post-likes {
  padding-right: 12px;
  float: right;
}
