@import 'bootstrap';
@import 'bootstrap-sprockets';

$face-color: #4267b2;
$face-back:  #e9ebee;

header {
  background-color: $face-color;

  .container {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .header-link {
    color: white;
    padding: 5px;
  }
}

.form-control {
  margin-bottom: 20px;
}

.top-navbar {
  position: fixed;
  z-index: 1043;
  top: 0;
  left: 0;
  right: 0;
  font-size: 25px;
}

.main-page {
  padding: 50px;
  background-color: $face-back;

  form {
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 30px;
  }

  .index-posts {
    padding-top: 40px;
    margin-left: 25%
  }

  .new-post {
    width: 100%;
  }
}

.user-space {
  background-color: lightblue;
}

.logo {
  color: white;
}

.elements-to-right {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}

.post-area {
  height:130px !important;
}

.posts {
  margin-top: 20px;
  padding-top: 20px;
  background-color: white;
}

.post-content {
  border: ridge;
  padding: 12px;
  width: 95%;
  margin: 0 auto;
}

.post-likes {
  padding-right: 30px;
  float: right;
}

.comments {

  ul {
    padding-top:30px;
    list-style:none;
  }

  .comment-item {
    border: 3px dashed lightskyblue;
    padding: 8px;
    margin: 23px auto 0 auto;
    width: 85%;
  }

  .comment-item-author {
    display: flex;
    flex-direction: row-reverse;
    font-size: 15px;
    font-weight: bold;
    padding-right: 85px;
    padding-bottom: 20px;
  }
}