<h1>Hello stranger!!!</h1>
<h2>
  Please, 
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
   or 
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
</h2>