<div class="row">
  <div class="new-post">
    <%= form_for(:post, url: posts_new_path) do |f| %>
      <%= f.label 'Tell me everything:' %>
      <%= f.text_area :content, class: "post-area form-control" %>

      <%= f.submit "New Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
